<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.AssignTaskLogMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.AssignTaskLog">
    <id column="assign_log_id" jdbcType="VARCHAR" property="assignLogId" />
    <result column="task_id" jdbcType="CHAR" property="taskId" />
    <result column="base_id" jdbcType="VARCHAR" property="baseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quality_user_id" jdbcType="VARCHAR" property="qualityUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    assign_log_id, task_id, base_id, create_time, quality_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_l_assign_task_log
    where assign_log_id = #{assignLogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yyzj_l_assign_task_log
    where assign_log_id = #{assignLogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.AssignTaskLog">
    insert into yyzj_l_assign_task_log (assign_log_id, task_id, base_id, 
      create_time, quality_user_id)
    values (#{assignLogId,jdbcType=VARCHAR}, #{taskId,jdbcType=CHAR}, #{baseId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{qualityUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.AssignTaskLog">
    insert into yyzj_l_assign_task_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assignLogId != null">
        assign_log_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="baseId != null">
        base_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="qualityUserId != null">
        quality_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assignLogId != null">
        #{assignLogId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=CHAR},
      </if>
      <if test="baseId != null">
        #{baseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityUserId != null">
        #{qualityUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.AssignTaskLog">
    update yyzj_l_assign_task_log
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=CHAR},
      </if>
      <if test="baseId != null">
        base_id = #{baseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityUserId != null">
        quality_user_id = #{qualityUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where assign_log_id = #{assignLogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.AssignTaskLog">
    update yyzj_l_assign_task_log
    set task_id = #{taskId,jdbcType=CHAR},
      base_id = #{baseId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      quality_user_id = #{qualityUserId,jdbcType=VARCHAR}
    where assign_log_id = #{assignLogId,jdbcType=VARCHAR}
  </update>
</mapper>