<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.Category" >
    <id column="category_id" property="categoryId" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="CHAR" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="delete_mark" property="deleteMark" jdbcType="TINYINT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="CHAR" />
    <result column="sys_id" property="sysId" jdbcType="CHAR" />
    <result column="mark_type" property="markType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, parent_id, name, rule_id, descript, create_time, create_user, delete_mark, 
    delete_time, valid, sys_id, mark_type
  </sql>
  
   <sql id="Base_Column_List_AS" >
    ca.category_id, ca.parent_id, ca.name, ca.rule_id, ca.descript, ca.create_time, ca.create_user, ca.delete_mark, 
    ca.delete_time, ca.valid, ca.sys_id, ca.mark_type
  </sql>
  
  <!-- 查询所有业务标记 -->
  <select id="CategoryList"  parameterType="com.huayunworld.znyyzj.engine.analyze.model.Category" resultMap="BaseResultMap" >
	SELECT
		js.`name` sysName,
		<include refid="Base_Column_List_AS" />
	FROM
		yyzj_c_category ca,
		yyzj_c_join_sys js
	WHERE
		ca.sys_id = js.sys_id and ca.delete_mark=0
    <if test="name != null" >
        and ca.name like #{name,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  <!-- 根据id批量查询标记 -->
  <select id="CategoryBatch"  parameterType="java.lang.Integer" resultMap="BaseResultMap" >
	SELECT
		<include refid="Base_Column_List" />
	FROM
		yyzj_c_category
	WHERE
		delete_mark=0 and category_id in
		<foreach collection="list" item="categoryId" open="(" close=")" separator=",">
            #{categoryId,jdbcType=VARCHAR}
        </foreach>
  </select>
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_category
    where category_id = #{categoryId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yyzj_c_category
    where category_id = #{categoryId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Category" >
    insert into yyzj_c_category (category_id, parent_id, name, 
      rule_id, descript, create_time, 
      create_user, delete_mark, delete_time, 
      valid, sys_id,mark_type)
    values (#{categoryId,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{ruleId,jdbcType=CHAR}, #{descript,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{deleteMark,jdbcType=TINYINT}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=CHAR}, #{sysId,jdbcType=CHAR}), #{mark_type,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Category" >
    insert into yyzj_c_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="descript != null" >
        descript,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="deleteMark != null" >
        delete_mark,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="markType != null" >
        mark_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=CHAR},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteMark != null" >
        #{deleteMark,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=CHAR},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="markType != null" >
        #{markType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Category" >
    update yyzj_c_category
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=CHAR},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteMark != null" >
        delete_mark = #{deleteMark,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=CHAR},
      </if>
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="markType != null" >
        mark_type = #{markType,jdbcType=CHAR}
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Category" >
    update yyzj_c_category
    set parent_id = #{parentId,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=CHAR},
      descript = #{descript,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      delete_mark = #{deleteMark,jdbcType=TINYINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=CHAR},
      sys_id = #{sysId,jdbcType=CHAR},
      mark_type = #{markType,jdbcType=CHAR},
    where category_id = #{categoryId,jdbcType=CHAR}
  </update>
</mapper>