<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.EngineToSysMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.EngineToSys">
    <result column="engine_id" jdbcType="CHAR" property="engineId" />
    <result column="sys_id" jdbcType="CHAR" property="sysId" />
  </resultMap>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.EngineToSys">
    insert into yyzj_c_engine_to_sys (engine_id, sys_id)
    values (#{engineId,jdbcType=CHAR}, #{sysId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.EngineToSys">
    insert into yyzj_c_engine_to_sys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="engineId != null">
        engine_id,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="engineId != null">
        #{engineId,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>