<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.KeywordMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.Keyword">
    <id column="keyword_id" jdbcType="CHAR" property="keywordId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="creater_user" jdbcType="VARCHAR" property="createrUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    keyword_id, name, creater_user, create_time, update_user, update_time, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_keyword
    where keyword_id = #{keywordId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yyzj_c_keyword
    where keyword_id = #{keywordId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Keyword">
    insert into yyzj_c_keyword (keyword_id, name, creater_user, 
      create_time, update_user, update_time, 
      valid)
    values (#{keywordId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{createrUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Keyword">
    insert into yyzj_c_keyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keywordId != null">
        keyword_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createrUser != null">
        creater_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keywordId != null">
        #{keywordId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createrUser != null">
        #{createrUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Keyword">
    update yyzj_c_keyword
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createrUser != null">
        creater_user = #{createrUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=CHAR},
      </if>
    </set>
    where keyword_id = #{keywordId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.Keyword">
    update yyzj_c_keyword
    set name = #{name,jdbcType=VARCHAR},
      creater_user = #{createrUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=CHAR}
    where keyword_id = #{keywordId,jdbcType=CHAR}
  </update>
</mapper>