<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.ProducerEleGroupMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.ProducerEleGroup">
    <id column="ele_group_id" jdbcType="CHAR" property="eleGroupId" />
    <result column="rule_id" jdbcType="CHAR" property="ruleId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    ele_group_id, rule_id, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_producer_ele_group
    where ele_group_id = #{eleGroupId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yyzj_c_producer_ele_group
    where ele_group_id = #{eleGroupId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEleGroup">
    insert into yyzj_c_producer_ele_group (ele_group_id, rule_id, sort
      )
    values (#{eleGroupId,jdbcType=CHAR}, #{ruleId,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEleGroup">
    insert into yyzj_c_producer_ele_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eleGroupId != null">
        ele_group_id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eleGroupId != null">
        #{eleGroupId,jdbcType=CHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEleGroup">
    update yyzj_c_producer_ele_group
    <set>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where ele_group_id = #{eleGroupId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEleGroup">
    update yyzj_c_producer_ele_group
    set rule_id = #{ruleId,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER}
    where ele_group_id = #{eleGroupId,jdbcType=CHAR}
  </update>
  
  
  
  
  
  
  
  
  
  
  
  <resultMap id="SqlResultMap001" type="com.huayunworld.znyyzj.engine.analyze.model.SqlResultMap001">
    <result column="ele_group_id" jdbcType="CHAR" property="eleGroupId" />
    <result column="ele_id" jdbcType="CHAR" property="eleId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="ele_value" jdbcType="VARCHAR" property="eleValue" />
    <result column="ele_value_type" jdbcType="INTEGER" property="eleValueType" />
  </resultMap>
  
  <select id="getProducerEleValueExt" parameterType="java.lang.String" resultMap="SqlResultMap001">
		SELECT
		    v.ele_group_id,
		    v.ele_id,
		    e.code,
		    v.ele_value,
		    v.ele_value_type
		FROM
		    yyzj_c_producer_ele_group g,
		    yyzj_c_producer_ele_value v,
		    yyzj_c_producer_ele e
		WHERE
		    g.ele_group_id = v.ele_group_id
		AND v.ele_id = e.ele_id
		AND g.rule_id = #{ruleId,jdbcType=CHAR}
		GROUP BY
		    v.ele_group_id,
		    v.ele_id,
		    e.code,
		    v.ele_value
		ORDER BY
		    v.ele_group_id,
		    g.sort,
		    e.sort
  </select>
  
  
  
  
  
  
</mapper>