<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.ProducerEleMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.ProducerEle">
    <id column="ele_id" jdbcType="CHAR" property="eleId" />
    <result column="analyzer_id" jdbcType="CHAR" property="analyzerId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="analyze_type" jdbcType="CHAR" property="analyzeType" />
    <result column="control_type" jdbcType="CHAR" property="controlType" />
    <result column="control_value_scope" jdbcType="CHAR" property="controlValueScope" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="display" jdbcType="CHAR" property="display" />
    <result column="value_type" jdbcType="CHAR" property="valueType" />
  </resultMap>
  <sql id="Base_Column_List">
    ele_id, analyzer_id, code, name, info, analyze_type, control_type, control_value_scope, 
    sort, display, value_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_producer_ele
    where ele_id = #{eleId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yyzj_c_producer_ele
    where ele_id = #{eleId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEle">
    insert into yyzj_c_producer_ele (ele_id, analyzer_id, code, 
      name, info, analyze_type, 
      control_type, control_value_scope, sort, 
      display, value_type)
    values (#{eleId,jdbcType=CHAR}, #{analyzerId,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{analyzeType,jdbcType=CHAR}, 
      #{controlType,jdbcType=CHAR}, #{controlValueScope,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, 
      #{display,jdbcType=CHAR}, #{valueType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEle">
    insert into yyzj_c_producer_ele
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eleId != null">
        ele_id,
      </if>
      <if test="analyzerId != null">
        analyzer_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="analyzeType != null">
        analyze_type,
      </if>
      <if test="controlType != null">
        control_type,
      </if>
      <if test="controlValueScope != null">
        control_value_scope,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="display != null">
        display,
      </if>
      <if test="valueType != null">
        value_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eleId != null">
        #{eleId,jdbcType=CHAR},
      </if>
      <if test="analyzerId != null">
        #{analyzerId,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="analyzeType != null">
        #{analyzeType,jdbcType=CHAR},
      </if>
      <if test="controlType != null">
        #{controlType,jdbcType=CHAR},
      </if>
      <if test="controlValueScope != null">
        #{controlValueScope,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="display != null">
        #{display,jdbcType=CHAR},
      </if>
      <if test="valueType != null">
        #{valueType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEle">
    update yyzj_c_producer_ele
    <set>
      <if test="analyzerId != null">
        analyzer_id = #{analyzerId,jdbcType=CHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="analyzeType != null">
        analyze_type = #{analyzeType,jdbcType=CHAR},
      </if>
      <if test="controlType != null">
        control_type = #{controlType,jdbcType=CHAR},
      </if>
      <if test="controlValueScope != null">
        control_value_scope = #{controlValueScope,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="display != null">
        display = #{display,jdbcType=CHAR},
      </if>
      <if test="valueType != null">
        value_type = #{valueType,jdbcType=CHAR},
      </if>
    </set>
    where ele_id = #{eleId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ProducerEle">
    update yyzj_c_producer_ele
    set analyzer_id = #{analyzerId,jdbcType=CHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      analyze_type = #{analyzeType,jdbcType=CHAR},
      control_type = #{controlType,jdbcType=CHAR},
      control_value_scope = #{controlValueScope,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      display = #{display,jdbcType=CHAR},
      value_type = #{valueType,jdbcType=CHAR}
    where ele_id = #{eleId,jdbcType=CHAR}
  </update>
</mapper>