<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.ScoreAgentRuleMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule">
    <id column="score_agent_rule_id" jdbcType="INTEGER" property="scoreAgentRuleId" />
    <result column="score_total_id" jdbcType="CHAR" property="scoreTotalId" />
    <result column="agent_id" jdbcType="CHAR" property="agentId" />
    <result column="agent_group_id" jdbcType="VARCHAR" property="agentGroupId" />
    <result column="detail_score_id" jdbcType="CHAR" property="detailScoreId" />
    <result column="detail_score_get_count" jdbcType="INTEGER" property="detailScoreGetCount" />
    <result column="record_count" jdbcType="INTEGER" property="recordCount" />
    <result column="total_score_result_id" jdbcType="CHAR" property="totalScoreResultId" />
    <result column="rule_id" jdbcType="CHAR" property="ruleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="unit" jdbcType="CHAR" property="unit" />
  </resultMap>
  <sql id="Base_Column_List">
    score_agent_rule_id, score_total_id, agent_id, agent_group_id, detail_score_id, detail_score_get_count, 
    record_count, total_score_result_id, rule_id,create_time,record_time,unit
  </sql>
      <sql id="Base_Where" >
  		 <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
			  <if test="scoreTotalId != null and scoreTotalId != ''">
		       and score_total_id = #{scoreTotalId,jdbcType=CHAR}
		      </if>
		      <if test="agentId != null and agentId != ''">
		       and agent_id = #{agentId,jdbcType=CHAR}
		      </if>
		      <if test="agentGroupId != null and agentGroupId != ''">
		       and agent_group_id = #{agentGroupId,jdbcType=VARCHAR}
		      </if>
		      <if test="detailScoreId != null and detailScoreId != ''">
		       and detail_score_id = #{detailScoreId,jdbcType=CHAR}
		      </if>
		      <if test="detailScoreGetCount != null and detailScoreGetCount != ''">
		       and detail_score_get_count = #{detailScoreGetCount,jdbcType=INTEGER}
		      </if>
		      <if test="recordCount != null and recordCount != ''">
		       and record_count = #{recordCount,jdbcType=INTEGER}
		      </if>
		      <if test="totalScoreResultId != null and totalScoreResultId != ''">
		       and total_score_result_id = #{totalScoreResultId,jdbcType=CHAR}
		      </if>
		      <if test="scoreAgentRuleId != null and scoreAgentRuleId != ''">
		      and score_agent_rule_id = #{scoreAgentRuleId,jdbcType=INTEGER}
		      </if>
		      <if test="ruleId != null and ruleId != ''">
		      and rule_id = #{ruleId,jdbcType=CHAR}
		      </if>
		      <if test="startTime != null and startTime != ''">
		      and record_time &gt;= #{startTime}
		      </if>
		      <if test="endTime != null and endTime != ''">
		      and record_time &lt;= #{endTime}
		      </if>
		      <if test="recordTime != null and recordTime != ''">
		      and record_time = #{recordTime}
		      </if>
		      <if test="createTime != null and createTime != ''">
		      and create_time = #{createTime}
		      </if>
		      <if test="unit != null and unit != ''">
		      and unit = #{unit,jdbcType=CHAR}
		      </if>
            </trim>
        </where>
  </sql>
  <select id="selectByWhere" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_s_score_agent_rule
    <include refid="Base_Where" />
  </select>
  <select id="countByWhere" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" resultType="java.lang.Integer">
    select 
    count(0)
    from yyzj_s_score_agent_rule
    <include refid="Base_Where" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_s_score_agent_rule
    where score_agent_rule_id = #{scoreAgentRuleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyzj_s_score_agent_rule
    where score_agent_rule_id = #{scoreAgentRuleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" >
    insert into yyzj_s_score_agent_rule (score_agent_rule_id, score_total_id, agent_id, 
      agent_group_id, detail_score_id, detail_score_get_count, 
      record_count, total_score_result_id, rule_id,create_time,record_time,unit
      )
    values (#{scoreAgentRuleId,jdbcType=INTEGER}, #{scoreTotalId,jdbcType=CHAR}, #{agentId,jdbcType=CHAR}, 
      #{agentGroupId,jdbcType=VARCHAR}, #{detailScoreId,jdbcType=CHAR}, #{detailScoreGetCount,jdbcType=INTEGER}, 
      #{recordCount,jdbcType=INTEGER}, #{totalScoreResultId,jdbcType=CHAR}, #{ruleId,jdbcType=CHAR}
      ,#{createTime},#{recordTime},#{unit}
      )
  </insert>
    <insert id="inserts"  parameterType="java.util.List" >
    insert into yyzj_s_score_agent_rule (score_agent_rule_id, score_total_id, agent_id, 
      agent_group_id, detail_score_id, detail_score_get_count, 
      record_count, total_score_result_id,rule_id,create_time,record_time,unit)  values 
   	<foreach collection="list" item="info" separator="," index="index">
	  (#{info.scoreAgentRuleId,jdbcType=INTEGER}, #{info.scoreTotalId,jdbcType=CHAR}, #{info.agentId,jdbcType=CHAR}, 
	      #{info.agentGroupId,jdbcType=VARCHAR}, #{info.detailScoreId,jdbcType=CHAR}, #{info.detailScoreGetCount,jdbcType=INTEGER}, 
	      #{info.recordCount,jdbcType=INTEGER}, #{info.totalScoreResultId,jdbcType=CHAR}, #{info.ruleId,jdbcType=CHAR} 
	      ,#{info.createTime} ,#{info.recordTime}, #{info.unit})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" >
    insert into yyzj_s_score_agent_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scoreAgentRuleId != null">
        score_agent_rule_id,
      </if>
      <if test="scoreTotalId != null">
        score_total_id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="agentGroupId != null">
        agent_group_id,
      </if>
      <if test="detailScoreId != null">
        detail_score_id,
      </if>
      <if test="detailScoreGetCount != null">
        detail_score_get_count,
      </if>
      <if test="recordCount != null">
        record_count,
      </if>
      <if test="totalScoreResultId != null">
        total_score_result_id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scoreAgentRuleId != null">
        #{scoreAgentRuleId,jdbcType=INTEGER},
      </if>
      <if test="scoreTotalId != null">
        #{scoreTotalId,jdbcType=CHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=CHAR},
      </if>
      <if test="agentGroupId != null">
        #{agentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="detailScoreId != null">
        #{detailScoreId,jdbcType=CHAR},
      </if>
      <if test="detailScoreGetCount != null">
        #{detailScoreGetCount,jdbcType=INTEGER},
      </if>
      <if test="recordCount != null">
        #{recordCount,jdbcType=INTEGER},
      </if>
      <if test="totalScoreResultId != null">
        #{totalScoreResultId,jdbcType=CHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="recordTime != null">
        #{recordTime},
      </if>
      <if test="unit != null">
        #{unit},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" >
    update yyzj_s_score_agent_rule
    <set>
      <if test="scoreTotalId != null">
        score_total_id = #{scoreTotalId,jdbcType=CHAR},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=CHAR},
      </if>
      <if test="agentGroupId != null">
        agent_group_id = #{agentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="detailScoreId != null">
        detail_score_id = #{detailScoreId,jdbcType=CHAR},
      </if>
      <if test="detailScoreGetCount != null">
        detail_score_get_count = #{detailScoreGetCount,jdbcType=INTEGER},
      </if>
      <if test="recordCount != null">
        record_count = #{recordCount,jdbcType=INTEGER},
      </if>
      <if test="totalScoreResultId != null">
        total_score_result_id = #{totalScoreResultId,jdbcType=CHAR},
      </if>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=CHAR},
      </if>
      <if test="recordTime != null and recordTime != ''">
     	 record_time = #{recordTime},
      </if>
      <if test="createTime != null and createTime != ''">
     	create_time = #{createTime},
      </if>
      <if test="unit != null and unit != ''">
      	unit = #{unit,jdbcType=CHAR},
      </if>
    </set>
    where score_agent_rule_id = #{scoreAgentRuleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreAgentRule" >
    update yyzj_s_score_agent_rule
    set score_total_id = #{scoreTotalId,jdbcType=CHAR},
      agent_id = #{agentId,jdbcType=CHAR},
      agent_group_id = #{agentGroupId,jdbcType=VARCHAR},
      detail_score_id = #{detailScoreId,jdbcType=CHAR},
      detail_score_get_count = #{detailScoreGetCount,jdbcType=INTEGER},
      record_count = #{recordCount,jdbcType=INTEGER},
      total_score_result_id = #{totalScoreResultId,jdbcType=CHAR},
      rule_id = #{ruleId,jdbcType=CHAR},
      create_time = #{createTime},
      record_time = #{recordTime},
      unit = #{unit}
    where score_agent_rule_id = #{scoreAgentRuleId,jdbcType=INTEGER}
  </update>
</mapper>