<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.ScoreTotalMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal">
    <id column="total_score_id" jdbcType="CHAR" property="totalScoreId" />
    <result column="model_id" jdbcType="CHAR" property="modelId" />
    <result column="sys_id" jdbcType="CHAR" property="sysId" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="score_value" jdbcType="DOUBLE" property="scoreValue" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="publish_user" jdbcType="VARCHAR" property="publishUser" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="publish_mark" jdbcType="CHAR" property="publishMark" />
    <result column="delete_mark" jdbcType="CHAR" property="deleteMark" />
    <result column="base_info" jdbcType="VARCHAR" property="baseInfo" />
    <result column="check_rule_count" jdbcType="INTEGER" property="checkRuleCount" />
    <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
  </resultMap>
  <sql id="Base_Column_List">
    total_score_id, model_id, sys_id, user_type, name, info, score_value, create_user, 
    create_time, publish_user, publish_time, publish_mark, delete_mark,base_info,check_rule_count,stop_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_score_total
    where total_score_id = #{totalScoreId,jdbcType=CHAR}
  </select>

  <!-- 条件查询 -->
  <select id="selectByWhere" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
    from yyzj_c_score_total
    where 1=1 
      <if test="totalScoreId != null and totalScoreId !='' ">
       and total_score_id = #{totalScoreId} 
      </if>
      <if test="modelId != null  and modelId !=''">
      and model_id  = #{modelId} 
      </if>
      <if test="sysId != null  and sysId !=''">
      and sys_id = #{sysId} 
      </if>
      <if test="name != null  and name !=''">
       and name like #{name} 
      </if>
      <if test="info != null  and info !=''">
       and info = #{info} 
      </if>
      <if test="userType != null  and userType !=''">
       and user_type = #{userType} 
      </if>
      <if test="scoreValue != null  and scoreValue !=''">
       and score_value = #{scoreValue} 
      </if>
      <if test="createUser != null  and createUser !=''">
       and create_user = #{createUser} 
      </if>
      <if test="startTime != null  and startTime !=''">
       and create_time &gt;= #{createTime} 
      </if>
      <if test="endTime != null  and endTime !=''">
       and create_time &lt;= #{endTime} 
      </if>
      <if test="publishUser != null  and publishUser !=''">
       and publish_user = #{publishUser} 
      </if>
      <if test="publishTime != null  and publishTime !=''">
       and publish_time = #{publishTime} 
      </if>
      <if test="publishMark != null  and publishMark !=''">
       and publish_mark = #{publishMark} 
      </if>
      <if test="deleteMark != null  and deleteMark !=''">
       and delete_mark = #{deleteMark} 
      </if>
      <if test="stopTime != null  and stopTime !=''">
       and stop_time = #{stopTime} 
      </if>
    order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yyzj_c_score_total
    where total_score_id = #{totalScoreId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal">
    insert into yyzj_c_score_total (total_score_id, model_id, sys_id, 
      user_type, name, info, 
      score_value, create_user, create_time, 
      publish_user, publish_time, publish_mark, 
      delete_mark,base_info,check_rule_count,stop_time)
    values (#{totalScoreId,jdbcType=CHAR}, #{modelId,jdbcType=CHAR}, #{sysId,jdbcType=CHAR}, 
      #{userType,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{scoreValue,jdbcType=DOUBLE}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{publishUser,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{publishMark,jdbcType=CHAR}, 
      #{deleteMark,jdbcType=CHAR}, #{baseInfo}, #{checkRuleCount}, #{stopTime})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal">
    insert into yyzj_c_score_total
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="totalScoreId != null">
        total_score_id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="scoreValue != null">
        score_value,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="publishUser != null">
        publish_user,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="publishMark != null">
        publish_mark,
      </if>
      <if test="deleteMark != null">
        delete_mark,
      </if>
      <if test="baseInfo != null">
        base_info,
      </if>
      <if test="checkRuleCount != null">
        check_rule_count,
      </if>
      <if test="stopTime != null">
        stop_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="totalScoreId != null">
        #{totalScoreId,jdbcType=CHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        #{scoreValue,jdbcType=DOUBLE},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishUser != null">
        #{publishUser,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishMark != null">
        #{publishMark,jdbcType=CHAR},
      </if>
      <if test="deleteMark != null">
        #{deleteMark,jdbcType=CHAR},
      </if>
      <if test="baseInfo != null">
        #{baseInfo},
      </if>
      <if test="checkRuleCount != null">
        #{checkRuleCount},
      </if>
      <if test="stopTime != null">
        #{stopTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal">
    update yyzj_c_score_total
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        score_value = #{scoreValue,jdbcType=DOUBLE},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishUser != null">
        publish_user = #{publishUser,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishMark != null">
        publish_mark = #{publishMark,jdbcType=CHAR},
      </if>
      <if test="deleteMark != null">
        delete_mark = #{deleteMark,jdbcType=CHAR},
      </if>
      <if test="baseInfo != null">
        base_info = #{baseInfo},
      </if>
      <if test="checkRuleCount != null">
        check_rule_count = #{checkRuleCount},
      </if>
      <if test="stopTime != null">
        stop_time = #{stopTime},
      </if>
    </set>
    where total_score_id = #{totalScoreId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreTotal">
    update yyzj_c_score_total
    set model_id = #{modelId,jdbcType=CHAR},
      sys_id = #{sysId,jdbcType=CHAR},
      user_type = #{userType,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      score_value = #{scoreValue,jdbcType=DOUBLE},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      publish_user = #{publishUser,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      publish_mark = #{publishMark,jdbcType=CHAR},
      base_info = #{baseInfo,jdbcType=CHAR},
      check_rule_count = #{checkRuleCount,jdbcType=CHAR},
      delete_mark = #{deleteMark,jdbcType=CHAR}
      stop_time = #{stopTime}
    where total_score_id = #{totalScoreId,jdbcType=CHAR}
  </update>
  
  <select id="selectBySysId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_score_total
    where sys_id = #{sysId,jdbcType=CHAR}
    and publish_mark = '1'
    and delete_mark = '0'
  </select>
  
  <select id="selectByPrimaryKeys" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_score_total
   	<where>  
        total_score_id in (  
        <foreach item="totalScoreId" index="index" collection="list"  
            separator=","> #{totalScoreId,jdbcType=CHAR} </foreach>  
        )  
    </where>  
  </select>
    
  
  
</mapper>