<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayunworld.znyyzj.engine.analyze.dao.ScoreResultMapper">
  <resultMap id="BaseResultMap" type="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
    <id column="total_score_result_id" property="totalScoreResultId" jdbcType="CHAR" />
    <result column="total_score_id" property="totalScoreId" jdbcType="CHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="base_count" property="baseCount" jdbcType="INTEGER" />
    <result column="avg_count" property="avgCount" jdbcType="INTEGER" />
    <result column="total_duration" property="totalDuration" jdbcType="INTEGER" />
    <result column="delete_mark" property="deleteMark" jdbcType="TINYINT" />
    <result column="finish_mark" property="finishMark" jdbcType="TINYINT" />
    <result column="sys_id" property="sysId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    total_score_result_id, total_score_id, create_user, create_time, finish_time, base_count, 
    avg_count, total_duration, delete_mark, finish_mark, sys_id
  </sql>
  
  <sql id="Base_Column_List_ASTABLSE" >
    str.total_score_result_id, str.total_score_id, str.create_user, str.create_time, str.finish_time, str.base_count, 
    str.avg_count, str.total_duration, str.delete_mark, str.finish_mark, str.sys_id
  </sql>
  
  <!-- 多条件查询 -->
  <select id="selectWhereScoreResult" resultMap="BaseResultMap" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
	  	SELECT
		<include refid="Base_Column_List_ASTABLSE" />,
		st.check_rule_count,
		st.name as name,
		js. NAME AS sysName
	FROM
		yyzj_c_score_total_result str,
		yyzj_c_score_total st,
		yyzj_c_join_sys js
	WHERE
		 str.total_score_id = st.total_score_id
		 AND
		 str.sys_id = js.sys_id
		 <if test="sysId != null and sysId!='' " >
	        AND js.sys_id = #{sysId,jdbcType=CHAR}
	     </if>
	     <if test="finishMark != null and finishMark!='' " >
	        AND str.finish_mark = #{finishMark,jdbcType=CHAR}
	     </if>
	     <if test="totalScoreResultId != null and totalScoreResultId !='' " >
	        AND str.total_score_result_id = #{totalScoreResultId}
	     </if>
	     <if test="name != null and name!='' " >
	        AND	st.name like #{name,jdbcType=VARCHAR}
      	 </if>
	     <if test="totalScoreId != null and totalScoreId !='' " >
	        AND	st.total_score_id like #{totalScoreId,jdbcType=VARCHAR}
      	 </if>
      	 	AND str.delete_mark = 0
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yyzj_c_score_total_result
    where total_score_result_id = #{totalScoreResultId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yyzj_c_score_total_result
    where total_score_result_id = #{totalScoreResultId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
    insert into yyzj_c_score_total_result (total_score_result_id, total_score_id, create_user, 
      create_time, finish_time, base_count, 
      avg_count, total_duration, delete_mark, 
      finish_mark)
    values (#{totalScoreResultId,jdbcType=CHAR}, #{totalScoreId,jdbcType=CHAR}, #{createUser,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, #{baseCount,jdbcType=INTEGER}, 
      #{avgCount,jdbcType=INTEGER}, #{totalDuration,jdbcType=INTEGER}, #{deleteMark,jdbcType=TINYINT}, 
      #{finishMark,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
    insert into yyzj_c_score_total_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="totalScoreResultId != null" >
        total_score_result_id,
      </if>
      <if test="totalScoreId != null" >
        total_score_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="baseCount != null" >
        base_count,
      </if>
      <if test="avgCount != null" >
        avg_count,
      </if>
      <if test="totalDuration != null" >
        total_duration,
      </if>
      <if test="deleteMark != null" >
        delete_mark,
      </if>
      <if test="finishMark != null" >
        finish_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="totalScoreResultId != null" >
        #{totalScoreResultId,jdbcType=CHAR},
      </if>
      <if test="totalScoreId != null" >
        #{totalScoreId,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baseCount != null" >
        #{baseCount,jdbcType=INTEGER},
      </if>
      <if test="avgCount != null" >
        #{avgCount,jdbcType=INTEGER},
      </if>
      <if test="totalDuration != null" >
        #{totalDuration,jdbcType=INTEGER},
      </if>
      <if test="deleteMark != null" >
        #{deleteMark,jdbcType=TINYINT},
      </if>
      <if test="finishMark != null" >
        #{finishMark,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
    update yyzj_c_score_total_result
    <set >
      <if test="totalScoreId != null" >
        total_score_id = #{totalScoreId,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baseCount != null" >
        base_count = #{baseCount,jdbcType=INTEGER},
      </if>
      <if test="avgCount != null" >
        avg_count = #{avgCount,jdbcType=INTEGER},
      </if>
      <if test="totalDuration != null" >
        total_duration = #{totalDuration,jdbcType=INTEGER},
      </if>
      <if test="deleteMark != null" >
        delete_mark = #{deleteMark,jdbcType=TINYINT},
      </if>
      <if test="finishMark != null" >
        finish_mark = #{finishMark,jdbcType=TINYINT},
      </if>
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=TINYINT},
      </if>
    </set>
    where total_score_result_id = #{totalScoreResultId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayunworld.znyyzj.engine.analyze.model.ScoreResult" >
    update yyzj_c_score_total_result
    set total_score_id = #{totalScoreId,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      base_count = #{baseCount,jdbcType=INTEGER},
      avg_count = #{avgCount,jdbcType=INTEGER},
      total_duration = #{totalDuration,jdbcType=INTEGER},
      delete_mark = #{deleteMark,jdbcType=TINYINT},
      finish_mark = #{finishMark,jdbcType=TINYINT}
    where total_score_result_id = #{totalScoreResultId,jdbcType=CHAR}
  </update>
</mapper>